{% extends "base.html" %}
<!DOCTYPE html>
<html>
  {% block html_head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Excel Plagiarism Tool</title>
  {% endblock %}
  {% block content %}
  <div class="container">
    <a href="{{ url_for('scan_results', scan_id=file.scan_id) }}" class="btn btn-primary float-right">Back to Scan Results</a>
    {% if suspicious_fingerprint_data %}
      {% if suspicious_fingerprint_data[2] > 0 %}
        <h3 class="text-light">Suspicious File Fingerprint Data has been found!</h3>
        <ul>
          {% if suspicious_fingerprint_data[1] is iterable and suspicious_fingerprint_data[1] is not string %}
            {% for string in suspicious_fingerprint_data[1] %}
              <li class="text-light">{{ string }}</li>
            {% endfor %}
          {% else %}
            <li class="text-light">{{ suspicious_fingerprint_data[1] }}</li>
          {% endif %}
        </ul>
        <br>
      {% endif %}
    {% endif %}
    {% if suspicious_charts %}
      {% if suspicious_charts[2] > 1 %}
        <h3 class="text-light">Suspicious Charts have been found!</h3>
        <ul>
          {% for string in suspicious_charts[1] %}
            <li class="text-light">{{ string }}</li>
          {% endfor %}
        </ul>
        <br>
      {% endif %}
    {% endif %}
    {% if suspicious_formulas %}
      {% if suspicious_formulas[2] > 0 %}
        <h3 class="text-light">Suspicious Formulas have been found!</h3>
        <ul>
          {% for string in suspicious_formulas[1] %}
            <li class="text-light">{{ string }}</li>
          {% endfor %}
        </ul>
        <br>
      {% endif %}
    {% endif %}
    {% if suspicious_author_data %}
      {% if suspicious_author_data[2] > 0 %}
        <h3 class="text-light">Suspicious File Author Data have been found!</h3>
        <ul>
          {% for string in suspicious_author_data[1] %}
            <li class="text-light">{{ string }}</li>
          {% endfor %}
        </ul>
        <br>
      {% endif %}
    {% endif %}
    {% if suspicious_column_widths %}
      {% if suspicious_column_widths[2] > 0 %}
        <h3 class="text-light">Suspicious File Column Widths have been found!</h3>
        <ul>
          {% for string in suspicious_column_widths[1] %}
            <li class="text-light">{{ string }}</li>
          {% endfor %}
        </ul>
        <br>
      {% endif %}
    {% endif %}
    {% if suspicious_fonts %}
      {% if suspicious_fonts[2] > 0 %}
        <h3 class="text-light">Suspicious Fonts have been found!</h3>
        <ul>
          {% for string in suspicious_fonts[1] %}
            <li class="text-light">{{ string }}</li>
          {% endfor %}
        </ul>
        <br>
      {% endif %}
    {% endif %}
    {% if suspicious_formulas %}
      {% if suspicious_formulas[2] > 0 %}
        <h3 class="text-light">Suspicious Formulas have been found!</h3>
        <ul>
          {% for string in suspicious_formulas[0] %}
            <li class="text-light">{{ string }}</li>
          {% endfor %}
        </ul>
        <br>
      {% endif %}
    {% endif %}
    <h3 class="text-light">Author Data</h3>
    <ul class="text-light">
      <li><strong>Creator: </strong>{{file.creator}}</li>
      <li><strong>Created: </strong>{{file.created}}</li>
      <li><strong>Modified: </strong>{{file.modified}}</li>
      <li><strong>Last Modified By: </strong>{{file.last_modified_by}}</li>
    </ul>
    <h3 class="text-light">Column Data</h3>
    <ul class="text-light">
      {% for width in file.unique_column_width_list %}
        <li>{{ width }}</li>
      {% endfor %}
    </ul>
    <h3 class="text-light">Font Data</h3>
    <ul class="text-light">
      {% for font in file.unique_font_names_list %}
        <li>{{font}}</li>
      {% endfor %}
    </ul>
    <h3 class="text-light">Formula Data</h3>
      <ul class="text-light">
        {% for cell in file.complex_formulas_list %}
          <li>{{cell}} {{file.complex_formulas_list[cell]}}</li>
        {% endfor %}
      </ul>
    <h3 class="text-light">Chart Data</h3>
    <ul class="text-light">
      {% for chart in charts %}
        <li>{{chart.chart_name}}</li>
        <ul>
          <li>{{chart.data_source}}</li>
        </ul>
      {% endfor %}
    </ul>
  </div>
  {% endblock %}
</html>
