<!DOCTYPE html>
<html>
  {% block html_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  {% endblock %}
  {% block content %}
  <div class="container text-center">
    <div class="form-signin">
      <h1 class="text-light mb-5">ExcelGuard</h1>
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.username.label(class="sr-only") }}
          {{ form.username(class="form-control", placeholder="Username", autocomplete="username") }}
        </div>
        <div class="form-group">
          {{ form.password.label(class="sr-only") }}
          {{ form.password(class="form-control", placeholder="Password", autocomplete="current-password") }}
        </div>
        <div class="text-center">
          <button type="submit" class="btn bg-yellow mt-3"><strong>Login  <span class="fas fa-arrow-right"></span></strong></button>
        </div>
      </form>
      {% if login_status == "failure" %}
        <div>
          <br><strong><span class="text-danger">Incorrect username or password entered.</span></strong>
          <br><strong><span class="text-danger">Please try again.</span></strong>
        </div>
      {% endif %}
      <br><strong><span class="text-light">Don't have an account? <a href="{{url_for('register')}}">Register here</a></span></strong>
    </div>
  </div>
  {% endblock %}
</html>
