{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block html_head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <title>Excel Plagiarism Tool</title>
{% endblock %}
{% block content %}
<div class="bg-dark-green">
  <div class="form-signin">
    <h1 class="text-light mb-5">Register Account</h1>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <div class="form-inline">
          {{ form.username.label(class="sr-only") }}
          {{ form.username(class="form-control col-12", placeholder="Username") }}
          <span class="asterisk"></span>
        </div>
      </div>
      <div class="form-group">
        <div class="form-inline">
          {{ form.password.label(class="sr-only") }}
          {{ form.password(class="form-control col-12", placeholder="Password") }}
          <span class="asterisk"></span>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn bg-yellow"><strong>Register  <span class="fas fa-arrow-right"></span></strong></button>
      </div>
    </form>
    <div class="text-center mt-3">
      <br><strong><span class="text-light">Already have an account? <a href="{{url_for('login')}}">Login</a></span></strong>
    </div>
  </div>
</div>
{% endblock %}
</html>