{% extends "base.html" %}
<!DOCTYPE html>
<html>
  {% block html_head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  {% endblock %}
  {% block content %}
  <div class="container">
    <!-- New Scan Form-->
    <form action="/begin_scan" method="post" enctype="multipart/form-data">
      <h3 class="text-light">New Scan</h3>
      <div class="form-group">
        <div class="form-group">
          <div class="form-inline mb-2">
            <input type="name" class="form-control col-8 mr-2" id="assignmentName" placeholder="Assignment Name..." required=true>
            <span class="asterisk"></span>
            <input type="name" class="form-control col-3" id="courseCode" placeholder="Course..." required=true>
            <span class="asterisk"></span>
          </div>
          <!-- To get file name to populate the button text, we'd need to use jQuery to rewrite the text by getting the file_name from the button onchange event -->
          <div>
            <label for="templateFile" class="btn btn-secondary col-8 text-left">Select Template File...</label>
            <!-- add d-none to class when jQuery implemented-->
            <input type="file" id="templateFile" name="templateFile" class="d-none" accept=".xls, .xlsx">
          </div>
          <div>
            <label for="assignmentFiles" class="btn btn-secondary col-8 text-left">Select Excel Files...</label>
            <span class="asterisk"></span>
            <!-- add d-none to class when jQuery implemented-->
            <input type="file" id="assignmentFiles" name="assignmentFiles" class="d-none" accept=".xls, .xlsx" required=true>
          </div>
        </div>
        <button type="submit" class="btn bg-yellow float-right"><strong>Begin Scan  <span class="fas fa-arrow-right"></span></strong></button>
      </div>
    </form>
    <br><br><br><br>
    <div>
      <div class="form-inline">
        <h3 class="col text-light ml-0 pl-0">Previous Scans</h3>
        <table id="data" class="table table-bordered bg-white">
          <thead>
            <tr class="bg-green text-light">
              <th>Assignment</th>
              <th>Course</th>
              <th>Date</th>
              <th>File Count</th>
              <th>Flagged Files</th>
              <th>User</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- instead of manually creating each the table rows below, we will instead iterate through each of the "previous scans" from the DB and display thier information -->
            <tr>
              <td>Assignment 3</td>
              <td>CS4470Y</td>
              <td>11/12/2023 12:34PM</td>
              <td>38</td> 
              <td>3</td>
              <td>kyle_maclean</td>   
              <td class="pr-0">
                <button type="submit" class="btn bg-yellow" name="view_scan"><strong>View</strong></button>
              </td>
              <td class="pr-0">
                <button class="btn btn-danger"><strong>Delete</strong></button>
              </td>
            </tr>
            <tr>
              <td>Assignment 2</td>
              <td>CS4470Y</td>
              <td>10/28/2023 9:23PM</td>
              <td>37</td> 
              <td>4</td>
              <td>kyle_maclean</td>   
              <td class="pr-0">
                <button type="submit" class="btn bg-yellow" name="view_scan"><strong>View</strong></button>
              </td>
              <td class="pr-0">
                <button class="btn btn-danger"><strong>Delete</strong></button>
              </td>
            </tr>
            <tr>
              <td>asn2</td>
              <td>CS4450A</td>
              <td>10/27/2023 11:01AM</td>
              <td>102</td> 
              <td>14</td>
              <td>Nazim</td>   
              <td class="pr-0">
                <button type="submit" class="btn bg-yellow" name="view_scan"><strong>View</strong></button>
              </td>
              <td class="pr-0">
                <button class="btn btn-danger"><strong>Delete</strong></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% endblock %}
</html>
